* {
  font-family: "Yatra One", cursive;
}

.jumbotron {
  border: 1px solid black;
}

.page {
  margin: auto;
  width: 90%;
}

.content {
  margin-top: -21px;
  box-shadow: 0px 0px 8px 1px black;
}

.navbar {
  box-shadow: 0px 0px 8px 1px black;
  border-radius: 4px 4px 0px 0px !important;
}

.panel svg {
  vertical-align: middle;
  margin: 4px;
}
